# STM32 Octo SPI flash driver configuration options

# Copyright (c) 2022 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

config FLASH_RA8_OSPI
	bool "RA8 Octo SPI Flash driver"
	default y
	depends on DT_HAS_RENESAS_RA_OSPI_NOR_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_JESD216
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_EXPLICIT_ERASE
	help
	  Enable OSPI-NOR support on the STM32 family of processors.
